{% extends "dashboard.html" %}
{% load static %}
{% block title %} Productos {% endblock %}

{% block extra_styles %}
    
{% endblock %}

{% block content %}
			<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
				<ul class="breadcrumb">
						<li class="breadcrumb-item"><a class="text-decoration-none link-primary" href="{% url 'dashboard' %}">Menú</a></li>
						<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'products' %}"><span class="badge bg-secondary rounded-pill">Gestionar productos</span></a></li>
				</ul>
			</nav>

			<h3 class="lead text-center">Gestiona las categorias de los productos <i class="fas fa-tags"></i></h3>
			{% if messages %}
				{% for message in messages %}
						<div class="alert alert-success mt-5 alert-dismissible fade show text-center" role="alert" style="width: 400px;">
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
							{{message}} <a class="text-decoration-none" href="{% url 'orders' %}">Click para ver.</a>
						</div>
				{% endfor %}
			{% endif %}

        <form class="mt-5" action="{% url 'new_product' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col col col-sm-4 ">
                    <div class="form-group">
                            <label class="form-label" for="productName"> Nombre del producto </label>
                            <input class="form-control g-3" type="text" id="productName" name="productName" required placeholder="Nombre del producto">
                    </div>
                </div>
                <div class="col col col-sm-4 ">
                    <div class="form-group">
                        <label class="form-label" for="price"> Precio </label>
												<input class="form-control" type="text" name="price" id="price" placeholder="Precio">
      
                    </div>
                </div>
                <div class="col col-sm-4 mb-3">
                    <div class="form-group">
                        <label class="form-label" for="quantity"> Cantidad </label>
												<input class="form-control" type="text" name="quantity" id="quantity" placeholder="Cantidad total">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label" for="description">Descripción </label>
                            <textarea class="form-control" name="description" id="description" cols="5" rows="5s"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col mt-3">
                        <div class="form-group">
                            <label class="form-label" for="brand">Marcas <i class="far fa-check-circle"></i></label>
														<select class="form-select" name="brand" id="brand">
															<option value=""></option>
															{% for brand in brands %}
																	<option value="{{brand.name}}">{{brand.name}}</option>
															{% endfor %}
														</select>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="form-group">
                            <label class="form-label" for="categoryName">Categorias </label>
                            <select class="form-select" name="categoryName" id="categoryName">
                                <option value=""></option>
																{% for category in categories %}
																		<option value="{{category.name}}">{{category.name}}</option>
																{% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <div class="form-group">
                            <label class="form-label" for="store">Tiendas </label>
                            <select class="form-select" name="store" id="store">
                                <option value=""></option>
																{% for store in stores %}
																	<option value="{{store.name}}">{{store.name}}</option>
																{% endfor %}

                            </select>
                        </div>
                    </div>
                    <button class="btn btn-outline-success d-flex justify-content-center mt-5" type="submit">Agregar producto</button>
                </div>
            </div>
        </form>
{% endblock %}