{% extends "dashboard.html" %}
{% load static %}
{% block title %} Tiendas {% endblock %}

{% block extra_styles %}
    
{% endblock %}

{% block content %}
		<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
			<ul class="breadcrumb">
					<li class="breadcrumb-item"><a class="text-decoration-none link-primary" href="{% url 'dashboard' %}">Menú</a></li>
					<li class="breadcrumb-item active" aria-current="page"><a href="{% url 'stores' %}"><span class="badge bg-secondary rounded-pill">Gestionar tiendas</span></a></li>
			</ul>
		</nav>

		<h3 class="lead text-center">Gestiona las tiendas de los productos <i class="fas fa-store"></i></h3>

		{% if messages %}
		{% for message in messages %}
			<div class="alert alert-success mt-4 alert-dismissible fade show text-center" role="alert" style="width: 350px;">
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				{{message}}
			</div>
		{% endfor %}
		{% endif %}

		<button class="btn btn-outline-primary mt-5" data-bs-toggle="modal" data-bs-target="#addStore"><i class="fas fa-store"></i> Agregar tienda</button>

		<div class="modal fade justify-content-center" id="addStore" tabindex="-1" role="dialog" aria-labelledby="addStore" aria-hidden="true">
		<div class="modal-dialog modal-dialog-scrollable" role="document">
				<div class="modal-content">
						<div class="modal-body">
								<h3 class="lead">Agregar tienda del producto <i class="fas fa-plus-circle"></i></h3>
								<form action="{% url 'add_store' %}" method="POST">
										{% csrf_token %}
										<div class="form-floating py-3">
												<input class="form-control form-control-sm mb-2" name="storeName" type="text" id="storeName">
												<label class="form-label" for="storeName">Nombre de la tienda</label>
										</div>
										<div class="form-floating py-3">
												<select class="form-select" name="storeStatus" id="storeStatus">
													<option value=""></option>
													<option value="Activo">Activo</option>
													<option value="Inactivo">Inactivo</option>
												</select>
												<label class="form-label" for="storeStatus">Estado</label>
										</div>
										<button type="submit" class="btn btn-outline-primary">Agregar</button>
								</form>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
						</div>
				</div>
		</div>
		</div>
		<div class="table-responsive pt-4">
		<table class="table table-hover table-bordered" style="width: 100%;">
			<thead>
				<tr>
					<th>Nombre de la tienda</th>
					<th>Estado</th>
					<th>Acción </th>
				</tr>
			</thead>
			<tbody>
				{% for store in stores %}
					<tr>
						<td>{{store.name}}</td>
						{% if store.status == "Activo" %}
								<td><span class="badge bg-success rounded-pill">{{store.status}}</span></td>
							{% else %}
								<td><span class="badge bg-danger rounded-pill">{{store.status}}</span></td>
						{% endif %}
						<div class="modal fade" id="deleteStore{{ store.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteStore" aria-hidden="true">
							<div class="modal-dialog">
									<div class="modal-content">
											<div class="modal-header">
													<h5 class="modal-title" id="brandStore">Eliminar tienda <i class="fas fa-backspace"></i></h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
													<h3 class="lead">¿Seguro que deseas eliminar esta tienda: <b>'{{store.name}}'</b>? </h3>
											</div>
											<div class="modal-footer">
													<form action="{% url 'delete_store' store.id %}" method="POST">
															{% csrf_token %}
															<button type="submit" class="btn btn-outline-danger" data-bs-target="#TaskDelete{{ task.id }}" data-bs-toggle="modal">Eliminar</button>
													</form>        
													<button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
											</div>
									</div>
						</div>
						<td> <li class="dropdown list-unstyled">
							<a class="text-decoration-none" id="Dropdown-menu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="fas fa-bars justify-content-end"></i>
							</a>
							<ul class="dropdown-menu" aria-labelledby="Dropdown-menu">
									<li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#updateStore{{ store.id }}"><i class="far fa-edit"></i> Actualizar tienda</a></li>
									<li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#deleteStore{{ store.id }}"><i class="fas fa-trash-alt"></i> Eliminar tienda</a></li>
							</ul>
					</li></td>
					<div class="modal fade justify-content-center" id="updateStore{{ store.id }}" tabindex="-1" role="dialog" aria-labelledby="updateBrand" aria-hidden="true">
						<div class="modal-dialog modal-dialog-scrollable" role="document">
								<div class="modal-content">
										<div class="modal-body">
												<h3 class="lead">Actualizar tienda:  <b>'{{ store.name }}'</b> <i class="far fa-edit"></i></h3>
												<form action="{% url 'update_store' store.id %}" method="POST">
														{% csrf_token %}
														<div class="form-floating py-3">
																<input class="form-control form-control-sm mb-2" name="storeName" type="text" id="storeName">
																<label class="form-label" for="storeName">Nombre de la tienda</label>
														</div>
														<div class="form-floating py-3">
																<select class="form-select" name="storeStatus" id="storeStatus">
																		<option value=""></option>
																		<option value="Activo">Activo</option>
																		<option value="Inactivo">Inactivo</option>
																</select>
																<label class="form-label" for="brandStatus">Estado</label>
														</div>
														<button type="submit" class="btn btn-outline-primary">Actualizar</button>
										</div>
										<div class="modal-footer">
												<button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
										</div>
										</form>
								</div>
						</div>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
{% endblock %}